.tasks-field-check-list {
	display: flex;
	align-items: center;
	background: #FFFFFFAD;
	border-radius: 10px;
}

.tasks-field-check-list.--default {
	padding: 18px;
}

.tasks-field-check-list-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #FFFFFFAD;
	border-radius: 10px;
}

.tasks-field-check-list.--default,
.tasks-field-check-list-content.--default {
	background: var(--ui-color-base-8);
}

.tasks-field-check-list-content .ui-icon-set {
	margin-right: 6px;
	--ui-icon-set__icon-base-color: var(--ui-color-accent-main-primary);
}

.tasks-field-check-list-content-text {
	font-weight: var(--ui-font-weight-medium);
}

.tasks-field-check-list-content-list {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 100%;
}

.tasks-field-check-list-content-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	max-height: 48px;
	padding: 12px 14px;
	cursor: pointer;
	background: var(--ui-color-base-8);
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.tasks-field-check-list-content-list-item:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tasks-field-check-list-content-list-item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tasks-field-check-list-content-list-item-icon {
	display: flex;
}

.tasks-field-check-list-content-list-item-icon .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-accent-main-primary);
}

.tasks-field-check-list-content-list-item-title {
	display: block;
	flex-grow: 1;
	color: var(--ui-color-base-1);
	font-size: var(--ui-font-size-xl);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tasks-field-check-list-content-list-item-status {
	display: flex;
	gap: 3px;
	margin-left: 12px;
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-sm);
}

.tasks-field-check-list-content-list-item-arrow {
	display: flex;
	margin-left: 12px;
}

.tasks-field-check-list-content-list-item-arrow .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-base-3);
}

.tasks-field-check-list-content-row {
	display: flex;
	align-items: center;
	width: 100%;
}

.tasks-field-check-list-content-btn {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	max-height: 34px;
	padding: 6px 16px;
	cursor: pointer;
}

.tasks-field-check-list-content-row.--footer .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-base-4);
}

.tasks-field-check-list-content-btn-text {
	color: var(--ui-color-base-4);
	font-size: var(--ui-font-size-sm);
}

.tasks-field-check-list-close-icon {
	position: absolute;
	cursor: pointer;
	z-index: 3;
}

.tasks-field-check-list-close-icon.--popup {
	top: 18px;
	right: 24px;
}

.tasks-field-check-list-close-icon.--sheet {
	top: 15px;
	right: 24px;
}

.tasks-field-check-list-close-icon .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-base-4);
}

.tasks-field-check-list-close-icon:hover .ui-icon-set {
	--ui-icon-set__icon-base-color: var(--ui-color-base-3);
}