.crm-timeline-block-internal-copilot-footer,
.crm-timeline-block-internal-copilot-footer-more {
	font: var(--ui-font-size-md) var(--ui-font-family-system);
	color: var(--ui-color-palette-gray-60);
}

.crm-timeline-block-internal-copilot-footer-more {
	text-decoration: var(--ui-text-decoration-line-underline);
	cursor: pointer;
}

.crm-timeline-block-internal-copilot-footer-more:hover {
	color: var(--ui-color-palette-gray-90);
	text-decoration: var(--ui-text-decoration-line-underline);
}
