.tasks-field-title {
	font-weight: var(--ui-font-weight-medium);
}

.tasks-field-title.tasks-field-highlight {
	--highlight-offset-y: -3px;
	--highlight-offset-x: -6px;
}

.tasks-full-card-main .tasks-field-title.tasks-field-highlight {
	--highlight-background: var(--tasks-color-bg-drawer);
}
