.crm-repeat-sale-segment-list--field-wrapper {
	display: flex;
	justify-items: center;
	flex-direction: column;
}

.crm-repeat-sale-segment-list--field-wrapper .ui-switcher {
	z-index: 1;
}

.crm-repeat-sale-segment-list-modified-field-user {
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-palette-gray-50);
}

.crm-repeat-sale-segment-list-modified-field {
	margin-top: -5px;
}

.crm-repeat-sale-segment-list--field-column {
	display: flex;
	flex-direction: column;
}

.crm-repeat-sale-segment-list-client-percent {
	display: flex;
	align-items: center;
}

.crm-repeat-sale-segment-list-client-percent-value {
	margin-left: 8px;
	font-size: var(--ui-font-size-xl);
	color: var(--ui-color-palette-gray-90);
}

.crm-repeat-sale-segment-list-client-percent-percent {
	font-size: var(--ui-font-size-xl);
	color: var(--ui-color-palette-gray-50);
}

.crm-repeat-sale-segment-list-confirm-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.crm-repeat-sale-segment-list-info {
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-palette-gray-50);
}