.error-404-block-wrap {
	min-height: 570px;
	position: relative;
}

.error-404-block {
	background: url("images/404-bg.png") no-repeat center 58px rgba(255, 255, 255, 0.6);
	border: 1px solid #ced5d7;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03);
	height: 535px;
	left: 50%;
	margin: 15px 0 0 -373px;
	padding-top: 20px;
	position: absolute;
	width: 748px;
}

.error-404-footer {
	background: url("images/404-footer.png") no-repeat 0 0;
	bottom: -12px;
	height: 11px;
	left: 0;
	position: absolute;
	width: 748px;
}

.error-404-text1 {
	color: #5e646c;
	font-size: 29px;
	font-weight: var(--ui-font-weight-bold);
	left: 0;
	line-height: 38px;
	position: absolute;
	text-align: center;
	top: 358px;
	width: 100%;
}

.error-404-text2 {
	color: #aaafb2;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	left: 0;
	line-height: 19px;
	position: absolute;
	text-align: center;
	top: 460px;
	width: 100%;
}
