.tasks-full-card-slider-content {
	overflow: visible !important;
}

.tasks-full-card-container {
	height: 100%;
}

.tasks-full-card {
	height: 100%;
	display: flex;
}

.tasks-full-card-main {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 40%;
	min-width: 512px;
	max-width: 660px;
	height: 100%;
	background: var(--tasks-color-bg-drawer);
}

@media (min-width: 1600px) {
	.tasks-full-card-main {
		width: 42%;
	}
}

.tasks-full-card-main:after {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.1);
	pointer-events: none;
	opacity: 0;
	transition: opacity 300ms;
}

.tasks-full-card-main.--overlay:after {
	opacity: 1;
}

.tasks-full-card-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	--scrollbar-width: 5px;
}

.tasks-full-card-content.--disable-scroll {
	overflow: hidden;
	--scrollbar-width: 0px;
}

@supports not selector(::-webkit-scrollbar) {
	.tasks-full-card-content {
		scrollbar-color: rgba(0, 0, 0, 0.11) transparent;
		scrollbar-width: thin;
	}

	.tasks-full-card-content.--disable-scroll {
		--scrollbar-width: 5px;
	}
}

.tasks-full-card-content::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: var(--scrollbar-width);
}

.tasks-full-card-content::-webkit-scrollbar-track {
	background: transparent;
}

.tasks-full-card-content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

.tasks-full-card-title {
	display: flex;
	--padding-bottom: 12px;
	padding: 22px calc(22px - var(--scrollbar-width)) var(--padding-bottom) 22px;
}

.tasks-full-card-title.--no-padding-bottom {
	margin-bottom: calc(-1 * var(--padding-bottom));
}

.tasks-full-card .tasks-card-description-field {
	margin: 0 calc(24px - var(--scrollbar-width)) 16px 24px;
}

.tasks-full-card-fields {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 0 calc(22px - var(--scrollbar-width)) 22px 22px;
}

.tasks-full-card-chips {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-top: 6px;
}

.tasks-full-card-footer {
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 86px;
	margin-top: auto;
	padding: 20px 22px;
	background: var(--ui-color-base-8);
	box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
}

.tasks-full-card-field-container {
	padding: 18px;
	background: var(--ui-color-base-8);
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.tasks-full-card-field-container.--custom {
	padding: 0;
	background: none;
}

.tasks-full-card-chips-fields {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
