.crm-repeat-sale__segment-section {
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background-color: var(--ui-color-palette-white-base);
	padding: 24px 31px 16px 26px;
	margin-bottom: 16px;
	display: none;
}

.crm-repeat-sale__segment-section.--active {
	display: block;
}

.crm-repeat-sale__segment-section-header {
	display: flex;
	flex-direction: row;
	padding: 25px 0 14px 0;
	justify-content: space-between;
	align-items: center;
}

.crm-repeat-sale__segment-section-header-title {
	color: var(--ui-color-palette-black-base);
	font-size: 17px;
	position: relative;
	font-weight: var(--ui-font-weight-medium);
	padding-right: 22px;
}

.crm-repeat-sale__segment-section-header-help {
	background: url('../images/help.svg') no-repeat center center;
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	position: absolute;
	cursor: pointer;
	opacity: var(--ui-opacity-80);
	transition: 300ms opacity;
}

.crm-repeat-sale__segment-section-header-help:hover {
	opacity: var(--ui-opacity-full);
}

.crm-repeat-sale__segment-section-feedback.ui-btn {
	font-weight: var(--ui-font-weight-normal);
	font-size: var(--ui-font-size-lg);
	color: #555555;
	--ui-btn-radius: 10px;
}

.crm-repeat-sale__segment-section-title {
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-palette-black-base);
	font-size: 17px;
	line-height: 20px;
	padding-bottom: 8px;
}

.crm-repeat-sale__segment-section-title.--level2 {
	color: var(--ui-color-palette-black-solid);
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-medium);
	line-height: 20px;
}

.crm-repeat-sale__segment-section-description {
	color: #4F4F4F;
	font-size: var(--ui-font-size-sm);
	line-height: 17px;
	padding-top: 3px;
	padding-bottom: 8px;
}

.crm-repeat-sale__segment-fields-row {
	display: flex;
	flex-direction: row;
	padding-top: 6px;
	padding-bottom: 8px;
	justify-content: space-between;
	gap: 8px;
}

.crm-repeat-sale__segment-field {
	flex-grow: 1;
	width: calc(50% - 4px);
}

.crm-repeat-sale__segment-field .ui-ctl-dropdown {
	cursor: pointer;
	width: 100%;
}

.crm-repeat-sale__segment-field-title {
	color: #909090;
	font-size: var(--ui-font-size-xs);
	line-height: 15px;
	margin-bottom: 6px;
}

.crm-repeat-sale__segment-expert-settings-btn-wrapper {
	padding: 11px 0 10px 0;
	margin-bottom: 16px;
	line-height: 20px;
	display: flex;
}

.crm-repeat-sale__segment-expert-settings-btn {
	color: var(--ui-color-palette-gray-90);
	font-size: var(--ui-font-size-lg);
	display: inline-block;
	cursor: pointer;
}

.crm-repeat-sale__segment-expert-settings-btn-chevron {
	transition: 300ms all;
	background: url('../images/chevron.svg') no-repeat center center;
	width: 20px;
	height: 20px;
	margin-left: 2px;
	display: inline-block;
	transform: rotate(-180deg);
	cursor: pointer;
}

.crm-repeat-sale__segment-expert-settings-btn-chevron.--active {
	transform: rotate(0);
}

.crm-repeat-sale__segment-ai-switcher-wrapper {
	padding: 16px 28px 16px 64px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 5px 16px 0 rgba(0, 0, 0, 0.03);
	background: #E6F4FF url('../images/avatar.png') no-repeat 4px center;
}

.crm-repeat-sale__segment-ai-switcher {
	display: block;
	height: 17px;
}

.crm-repeat-sale__segment-ai-switcher-avatar {
	width: 46px;
	height: 46px;
}

.crm-repeat-sale__segment-field .ui-tag-selector-outer-container,
.crm-repeat-sale__segment-field .ui-ctl-element {
	border-radius: var(--ui-border-radius-sm);
	border-color: #1F86FF;
}

.crm-repeat-sale__segment-field .ui-text-editor {
	border-radius: 20px;
	border: 1px solid #1F86FF;
	position: relative;
	background-color: white;
	margin-bottom: 5px;
}

.crm-repeat-sale__segment-field-info{
	padding-top: 3px;
	color: #0075FF;
	font-size: var(--ui-font-size-sm);
	line-height: 17px;
	cursor: pointer;
	opacity: var(--ui-opacity-80);
	transition: 300ms opacity;
}

.crm-repeat-sale__segment-field-info:hover {
	opacity: var(--ui-opacity-full);
}

.crm-repeat-sale__segment_call-assessment {
	background: #E6F4FF;
	color: #0154C8;
	border: 1px solid #E6F4FF;
	border-radius: var(--ui-border-radius-md);
	font-weight: var(--ui-font-weight-medium);
	font-size: 14px;
	line-height: 19px;
	cursor: pointer;
	transition: 300ms background-color;
	padding: 8px 20px;
	display: inline-block;
}

.crm-repeat-sale__segment_call-assessment:hover {
	background: rgba(230, 243, 255, 0.5);
}

.crm-repeat-sale__segment-dialog-field {
	display: inline-flex;
	line-height: 32px;
	position: absolute;
	height: 32px;
	margin: 3px 0 3px -7px;
	background: #EDF7FF;
	border-radius: var(--ui-border-radius-xs);
	align-items: center;
}

.crm-repeat-sale__segment-dialog-field-icon {
	background: url('../images/segment-icon.svg') no-repeat center center;
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 0 0 5px;
}

.crm-repeat-sale__segment-dialog-field-icon.--color {
	background: none;
	border-radius: 18px;
}

.crm-repeat-sale__segment-dialog-field-value {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 4px;
	padding-right: 6px;
	max-width: 200px;
}

:root {
	--crm-repeat-sale-horizontal-padding: 28px;
}

.crm-repeat-sale__segment_container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.crm-repeat-sale__segment-wrapper {
	padding: 0 36px 27px 31px;
	flex-grow: 1;
	overflow: auto;
	height: calc(100vh - 240px);
}

.crm-repeat-sale__segment-section-header-description {
	color: var(--ui-color-palette-gray-90);
}

.crm-repeat-sale__segment-section-body {
	margin-top: 12px;
}

.crm-repeat-sale__segment-section-body-field {
	position: relative;
}

.crm-repeat-sale__segment-fields-row .ui-tag-selector-tag--has-avatar {
	background: #EDF7FF !important;
	border-radius: var(--ui-border-radius-xs);
}

.crm-repeat-sale__segment-fields-row .ui-tag-selector-tag-title {
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-palette-black-base) !important;
	font-size: var(--ui-font-size-md);
}

.crm-repeat-sale__segment_navigation-container {
	display: flex;
	padding: 15px 20px;
	background: var(--ui-color-palette-white-base);
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 0;
	height: 35px;
	z-index: 10;
}

.crm-repeat-sale__segment_navigation-buttons-wrapper {
	display: flex;
	flex-direction: row;
}

.crm-repeat-sale__segment_button + .crm-repeat-sale__segment_button {
	margin-left: 10px;
}