.tasks-field-check-list-sheet {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

.tasks-field-check-list-list {
	overflow: auto;
	scrollbar-width: none;
	height: 100%;
	box-sizing: border-box;
}

.tasks-field-check-list-footer {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	padding: 10px 24px 0 24px;
}
