.intranet-settings-widget__logo-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2px;
	min-width: 24px;
	height: 24px;
	cursor: pointer;
}

.intranet-settings-widget__logo-btn .ui-icon-set {
	margin-top: 3px;
	--ui-icon-set__icon-size: 19px;
	--ui-icon-set__icon-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-50));
	transition: background-color .3s;
}

.intranet-settings-widget__logo-btn .ui-icon-set:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-70));
}

.bitrix24-dark-theme .intranet-settings-widget__logo-btn .ui-icon-set {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-70));
}

.bitrix24-dark-theme .intranet-settings-widget__logo-btn .ui-icon-set:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-90));
}


.intranet-settings-widget__container {
	overflow: hidden;
}

.ui-popupcomponentmaker:has(.intranet-settings-widget__header) {
	overflow: hidden;
}

.header-logo-block .intranet-settings-widget__logo-btn {
	visibility: hidden;
}

.menu-collapsed-mode .header-logo-block .intranet-settings-widget__logo-btn {
	visibility: visible;
}

.menu-scroll-mode .menu-items-block .intranet-settings-widget__logo-btn {
	visibility: hidden;
}

.intranet-settings-widget-spotlight__wrapper {
	display: flex;
	flex-direction: column;
}

.intranet-settings-widget-spotlight__title {
	font-size: var(--ui-font-size-3xl, 22px);
	font-weight: var(--ui-font-weight-light, 300);
	color: var(--ui-color-palette-black-solid, #000000);
	text-align: left;
	margin-bottom: 10px;
}

.intranet-settings-widget-spotlight__description {
	font-size: var(--ui-font-size-lg, 15px);
	font-weight: var(--ui-font-weight-normal, 400);
	color: var(--ui-color-palette-gray-90, #525c69);
	text-align: left;
}