.tasks-task-compact-card-skeleton {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 24px;
}

.tasks-task-card-skeleton-group {
	display: flex;
	gap: 8px;
	align-items: center;
}

.tasks-task-card-skeleton-group.--icons {
	margin-right: 4px;
	gap: 14px;
}

.tasks-task-compact-card-skeleton-fields {
	display: flex;
	flex-direction: column;
}

.tasks-task-compact-card-skeleton-fields-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
}

.tasks-task-compact-card-skeleton-fields-description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 24px;
	margin: 11px 0 13px;
}

.tasks-task-compact-card-skeleton-fields-list {
	display: flex;
	flex-direction: column;
	gap: 14px;
	align-items: center;
}

.tasks-task-compact-card-skeleton-fields-list-row {
	display: flex;
	gap: 41px;
	align-items: center;
	width: 100%;
	height: 25px;
}

.tasks-task-compact-card-skeleton-chips {
	display: flex;
	align-items: center;
	border-top: var(--ui-border-width-thin) solid var(--ui-color-divider-default);
	height: 32px;
	padding-top: 18px;
}

.tasks-task-compact-card-skeleton-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 34px;
}
