.b24-field-list {
	--min-row-height: 25px;
	position: relative;
	display: grid;
	grid-template-columns: max-content auto;
	gap: 14px;
	align-items: center;
	grid-auto-rows: minmax(var(--min-row-height), auto);
	font-size: var(--ui-font-size-lg);
}

.b24-field-list-title {
	align-self: start;
	line-height: var(--min-row-height);
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-md);
	min-width: 126px;
}

.b24-field-list-title.--with-separator .b24-field-list-title-text {
	margin-top: 10px;
}

.b24-field-list-title.--with-separator:before {
	content: '';
	position: absolute;
	height: var(--ui-border-width-thin);
	background: var(--ui-color-divider-less);
	width: 100%;
}

.b24-field-list-value {
	min-width: 0;
}

.b24-field-list-value.--with-separator {
	margin-top: 10px;
}
